
.board{
  background-color: #262626;
  padding-bottom: 50px;
  padding-top: 30px;
  @media screen and (max-width: $screen-md) {
    padding-top: 0px;
  }
}

.notes-container {
  border-radius: 10px;
  width: 85%;
  background-color: #444444;
  margin: auto;
  padding: 5px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  animation: appear 3s .4s both;

  @media screen and (max-width: $screen-md) {
    width: 100%;
  }
}
.note{
  flex-wrap: wrap;
  width: 300px;
  height: 300px;
  margin: 1%;
  background-color: #1b6d85;
  text-overflow: ellipsis;
  border-radius: 10px;

  .top-bar{
    height: 40px;
    background-color: #262626;
    opacity: 0.8;
    display: flex;
    border-radius: 9px 9px 0 0;
    border-top: solid #111 1px ;
    border-left: solid #111 1px ;
    border-right: solid #111 1px ;

    i{
      color: #CCC;
      font-size: 25px;
      margin: 7px;
      cursor: pointer;
      transition: color .3s, font-size .3s;

      &:hover{
        color: #FFF;
        font-size: 27px;
      }
    }

    .text-left, .text-right{
      flex-grow: 1;
    }

    .fa-share{
      transition: color .3s, font-size .3s, transform .3s;

      &hover{
        transform: rotateZ(180deg);
      }
    }
  }

  .note-content {
    overflow: hidden;
    color: #444;
    padding-bottom: 0;
    cursor: pointer;
    position: relative;
    height: 100%;

    h1{
      transform: translateY(0px);
      opacity: 1;
      transition: transform .8s, opacity 1s;
      text-align: center;
      font-weight: 200;
      margin: 30px 8px 0 8px;
    }

    p{
      word-break: break-all;
      color: #222;
      text-indent: 25px;
      font-size: 15px;
      opacity: 0;
      transition:  opacity 1s ;
      position: absolute;
      top: 50px;
      margin: 0 10px;
    }

    &:hover {
      p {
        opacity: 1;
      }

      h1 {
        transform: translateY(-100px);
        opacity: 0;
      }
    }
  }

  .note-add{
    text-align: center;
    height: 90%;

    i{
      margin: 25% auto;
      font-size: 100px;
      color: #CCC;
      transition: color .5s, transform .5s;
      cursor: pointer;

      &:hover{
        color: lighten(#CCC, 10%);
        transform: scale(1.2,1.2) rotateZ(90deg);

      }
    }
  }
}


@keyframes appear {
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}

.hide{
  display: none;
  visibility: hidden;
}

//  Flip animation

.flipOut {
  animation: flipOut .3s 2 alternate;

  @keyframes flipOut {
    from {
      transform: rotateY(0deg) scale(1);
    }
    to {
      transform: rotateY(90deg) scale(1.2);
    }
  }
}

//    Background classes

.background-0{
  background-color: $brand-primary !important;
  transition: background-color 1s;
  &:hover{
    background-color: darken($brand-primary, 9%) !important;
  }
}

.background-1{
  background-color: $brand-danger !important;
  transition: background-color 1s;
  &:hover{
    background-color: darken($brand-danger, 9%) !important;
  }
}

.background-2{
  background-color: $brand-info !important;
  transition: background-color 1s;
  &:hover{
    background-color: darken($brand-info, 9%) !important;
  }
}

.background-3{
  background-color: $brand-success !important;
  transition: background-color 1s;
  &:hover{
    background-color: darken($brand-success, 9%) !important;
  }
}

.background-4{
  background-color: $brand-warning !important;
  transition: background-color 1s;
  &:hover{
    background-color: darken($brand-warning, 9%) !important;
  }
}

