@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/_variables.scss";

.App-header {
  background-color: #222;
  color: white;
  height: 130px;
  padding: 20px 10px;
  overflow: hidden;
  @media screen and (max-width: $screen-md) {
    height: 80px;
  }

  .tittle {
    width: 100%;
    text-align: center;
    font-size: 50px;
    font-weight: 300;
    @media screen and (max-width: $screen-md) {
      font-size: 25px;
    }
    @media screen and (max-width: $screen-xs) {
      font-size: 17px;
    }
  }

  .text{
    animation: slideInTittle 2s;
  }

  hr {
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    position: static;
    @media screen and (max-width: $screen-md) {
      visibility: hidden;
    }
  }

  .left {
    float: left;
    animation: slideInLineLeft 2s ;
  }

  .right {
    float: right;
    animation: slideInLineRight 2s ;

  }

  @keyframes slideInLineLeft {
       from{
         transform: translateX(-500px);
       }
       to{
         transform: translateX(0);
       }
  }
  @keyframes slideInLineRight {
    from{
      transform: translateX(500px);
    }
    to{
      transform: translateX(0);
    }
  }

  @keyframes slideInTittle {
    from{
      opacity: 0.2;
    }
    to{
      opacity: 1;
    }
  }
}

