.cover-content{
  background-color: rgba(0, 0, 0, .7);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: fixed;
  transition: 2s;

  &.cover-form-in{
    animation: cover 1s;
  }

  &.cover-form-out{
    animation:cover 1s reverse;
  }

  @keyframes cover{
    from{
      opacity: 0;
    }
    to{
      opacity: 1;
    }
  }
}

.note-form{
  width: 600px;
  background-color: #101010;
  position: fixed;
  right: 0;
  left: 0;
  margin-right: auto;
  margin-left: auto;
  top: 10%;
  opacity: 0.97;

  @media screen and (max-width: $screen-md) {
    width: 95%;
  }

  .top-bar{
    height: 48px;
    background-color: #262626;
    opacity: 0.8;
    display: flex;

    i{
      color: #CCC;
      font-size: 35px;
      margin: 7px;
      cursor: pointer;
      transform: scale(1) rotateZ(0deg);
      transition: color .3s, transform .3s;

      &:hover{
        color: #FFF;
        transform: scale(1.2) rotateZ(180deg);
        transition: color .3s, transform .3s;
      }
    }

    .text-left, .text-right{
      flex-grow: 1;
    }

    .text-center h1{
      color: #FFF;
      font-size: 25px;
      margin-top: 10px;
    }

  }
  .content{
    padding: 30px;
    color: #eee;

    .submit i{
      font-size: 50px;
      right: 0;
      left: 0;
      margin-right: auto;
      margin-left: auto;
      cursor: pointer;
      transform: scale(1) rotateZ(0deg);
      transition: color .6s, transform .6s;


      &:hover{
        color: #FFF;
        transform: scale(1.2) rotateZ(360deg);
        transition: color .6s, transform .6s;
      }
    }
    input, textarea{
      border-radius: 0;
      border: none;
      background: rgba(255, 255, 255, .3);
      color: #222;
      resize: none;
    }
  }
}

.form-error{
  border: solid 1px darken(rgb(255, 0, 0), 30%) !important;
}

.form-error-message{
  text-align: center;
  margin: 2px 1px;
  padding: 3px;
  background: rgba(255, 255, 255, .15);
  color: #222;
}

.color-picker{
  text-align: center;
  display: flex;
  justify-content: center;

  div{
    cursor: pointer;
    margin: auto 5px;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    transition: transform 0.5s;
    border: solid 1px;

    &:checked{
      transform: scale(1.3);

    }
    &:hover{
      transform: scale(1.5);
    }
    &[data-select = true]{
      transform: scale(1.5);
    }
  }
}

.icon-picker{
  padding: 5px;
  justify-content: center;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(6, 40px);
  background-color: rgba(255,255,255, 0.3);
  color: #444;

  i{
    cursor: pointer;
    padding: 5px;
    margin: 3px 3px;
    font-size: 20px;
    border-radius: 15%;
    transition: transform .2s;
    &:hover{
      background-color: #222;
      color: #EEE;
      transform: scale(1.3);

    }
  }
  .select{
    background-color: #222;
    color: #EEE;
    transform: scale(1.1);
  }
}

.form-in {
  animation: form-in 1s;

  @keyframes form-in {
    from {
      transform: translateX(-450px);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 0.97;
    }
  }
}

.form-out{
  animation: form-out 1s ;
}

@keyframes form-out {
  from{
    transform: translateX(0);
    opacity: 0.97;
  }
  to{
    transform: translateX(450px);
    opacity: 0;
  }
}