$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
@import "../../node_modules/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
@import "../../node_modules/font-awesome/css/font-awesome.css";
@import "header.scss";
@import "board.scss";
@import "noteForm";
@import url('https://fonts.googleapis.com/css?family=Roboto:200,300,400');


$brand-primary:         #F1E485 !important;
$brand-success:         #6AFF76 !important;
$brand-info:            #54BEE8 !important;
$brand-warning:         #C090FF !important;
$brand-danger:          #FF9F63 !important;

body{
  font-family: 'Roboto', sans-serif !important;
}

